<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>AngularJS 控制器</title>
    </head>
    <body>
        <script src="./js/angular.js"></script>
        <div ng-app="myApp" ng-controller="myController">
            名:<input type="text" ng-model="firstName"><br>
            姓:<input type="text" ng-model="lastName"><br>
            姓名: {{firstName + " " + lastName}}
            姓名: {{fullName}}
        </div>
        <script>
            var app = angular.module('myApp', []);
            app.controller('myController', [
                "scope",
                function($scope) {
                    $scope.firstName = "John";
                    $scope.lastName = "Doe";

                    // 控制器方法
                    // 无法实时监听
                    $scope.fullName = function() {
                        return $scope.firstName + " " + $scope.lastName;
                    }();
                }
            ])
        </script>
    </body>
</html>
